//- 
//- login
//- 

extends layout
block content
  div.page-header
    h1.text-center User Login
  form.form-horizontal(method="post",role="form")
    div.form-group
      label.col-sm-2.control-label(for="name") Name
      div.col-sm-10
        input.form-control#name(type="text",placeholder="username",name="name")
    div.form-group
      label.col-sm-2.control-label(for="password") Password
      div.col-sm-10
        input.form-control#password(type="password",placeholder="Password",name="password")
    div.form-group
      div.col-sm-offset-2.col-sm-10
        div.checkbox
          label
            input(type="checkbox")
            |Remember me
    div.form-group
      div.col-sm-offset-2.col-sm-10
        button.btn.btn-default(type="submit")|Sign in