doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
  body
    nav(class="navbar navbar-inverse navbar-default",role="navigation")
      div(class="navbar-header")
        button(type="button",class="navbar-toggle",data-toggle="collapse",data-target=".navbar-ex1-collapse")
          span(class="sr-only")
            |Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand",href="/") Blog

      div(class="collapse navbar-collapse navbar-ex1-collapse")
        ul(class="nav navbar-nav")
          li
            a(href="/login") Login
          li
            a(href="/register") Register


    div(class="container")
      block content