//-
//-  login
//-

extends layout

block content
  div.page-header
    h1.text-center User login
  form.form-horizontal(role="form")
    div.form-group
      label.col-lg-2.control-label(for="inputEmail1") name
      div.col-lg-10
        input.form-control#inputEmail1(type="text",placeholder="name")
    div.form-group
      label.col-lg-2.control-label(for="inputPassword1") Password
      div.col-lg-10
        input.form-control#inputPassword1(type="password",placeholder="Password")
    div.form-group
      div.col-lg-offset-2.col-lg-10
        div.checkbox
          label
            input(type="checkbox")
            |Remember me
          a(href="/reg") Create an account
    div.form-group
      div.col-lg-offset-2.col-lg-10
        button.btn.btn-success(type="submit") Sign in
  p.text-center Powered by Node.js 2013