//-
//- post.jade
//- 
extends layout

block content
  div.page-header
    h1.text-center Publish post
  form.form-horizontal(role="form")
    p
      textarea.form-control(rows="3")
    input.btn.btn-success(type="submit", value="发表")
