//-
//- post.jade
//- 
extends layout

block content
  div(class="page-header")
    h1(class="text-center") Publish post
  form(class="form-horizontal",role="form")
    p
      textarea(class="form-control", rows="3")
    input(type="submit", class="btn btn-success", value="发表")
