<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="UTF-8">
  <title>Angular.js</title>
  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore.js"></script>
  <script type="text/javascript" src="js/todo.js"></script>
  <style type="text/css">
  .done-true{
    text-decoration: line-through;
    color: gray;
  }
  </style>
</head>
<body>
  <input type="text" ng-model="yournames">
  <h1>hello{{yournames}}</h1>

  <div ng-controller="TodoCtrl">
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [<a href="" ng-click="archive()">archive</a>]

    <ul>
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done">
        <span class="done-{{todo.done}}">{{todo.text}}</span>
      </li>
    </ul>

    <form action="" ng-submit="addTodo()">
      <input type="text" ng-model="todoText" size="30" placeholder="add new todo">
      <input type="submit" value="add">
    </form>
  </div>
</body>
</html>